<!doctype html>
<html>
	<head>
		{% block head %}
		<link href="/static/css/metro-bootstrap.css" rel="stylesheet" >
		<link href="/static/css/reductor.css" rel="stylesheet" >
		<link href="/static/css/iconFont.css" rel="stylesheet">
		<script src="/static/js/jquery/jquery.min.js"></script>
		<script src="/static/js/jquery/jquery.widget.min.js"></script>
		<script src="/static/min/metro.min.js"></script>
		{% endblock %}
		<title></title>
	</head>
	<body>
	{% block content %}
	{% endblock %}
	</body>
</html>
